__pycache__/
.pytest_cache
app/__pycache__/
app/config/__pycache__/
app/models/__pycache__/
app/repositories/__pycache__/
app/services/__pycache__/
app/utils/__pycache__/
app/schemas/__pycache__/
tests/__pycache__/
tests/models/__pycache__/
tests/repositories/__pycache__/
tests/services/__pycache__/
.scannerwork/
venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.coverage
*.mypy_cache/
*.pytest_cache/
.coverage
coverage.xml